

.hero {
    background: linear-gradient(0deg, rgba(59, 59, 59, 0.3), rgba(95, 95, 95, 0.3)), url(/src//Assets//Images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    
}

.logo {
    max-width: 90px;

}
.parent {
    border: 1px solid yellow;
}

